{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit user :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit user "' ~ user.username ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>User edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}
    {{ form_row(form.username, {'attr': {'placeholder': 'Username / login'}}) }}
    {{ form_row(form.email, {'attr': {'placeholder': 'Email'}}) }}
    {{ form_row(form.plainPassword, {'attr': {'placeholder': 'Password'}}) }}
    {{ form_row(form.isActive) }}
    {{ form_row(form.isSuperadmin) }}

        <a class="btn btn-primary" href="{{ path('backend_user_index') }}"><i class="fa fa-list"></i> Back to the list</a>
        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>
    {{ form_end(form) }}

    <div class="text-right">
        {{ form_start(delete_form) }}
        <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
