{% extends 'themes/forel/layout.html.twig' %}

{% block title %}Сообщение отправлено / Na-Forel.RU{% endblock %}
{% block meta_description %}Обратная связь, сообщение отправлено.{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> Сообщение отправлено
        </li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'themes/forel/common/flashes.html.twig' %}

    <h4>Сообщение отправлено</h4>

    <p>
        Спасибо за Ваше обращение!
    </p>

{% endblock %}
