.alert-fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
}
.digi-header {
    height: 80px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
    line-height: 120px;
}
#logo_img img {
    height: 120px;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #002e6e;
    border-color: #002e6e;
}
/*=======================================
  FOOTER SECTION
==================================================*/
.footer-box {
    background-color:#F5F5F5;
    padding:20px 50px 20px 50px;


}
.small-box {
    font-size:10px;
}

.footer-box a {
    color:#808080;
    text-decoration:none;
}
.footer-box a:hover {
    color:#000;
}
.pad-botom {
    padding-bottom:30px;
}
.footer-box p {
    padding-top:15px;
    padding-bottom:15px;
    line-height:25px;
}
.social-box a{
    color:#333436;
    text-decoration:none;
}

.end-box {
    padding:20px;
    color:#fff;
    background-color:#000;
    font-size:14px;
}
h1.product_price {
    margin-bottom: 0rem;
}
.small {
    font-size: 1rem;
}
.card-header {
    padding: .75rem 0.25rem;
 }