{% extends 'themes/forel/layout.html.twig' %}

{% block title %}Поиск / Na-Forel.RU{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class=""></i> Поиск
        </li>
    </ol>
{% endblock %}


{% block body %}
<h3>Результаты поиска</h3>
<table class="table table-striped">

    {% for product in products %}
        <tr>
            <td>
                {% if product.pic %}
                    <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/pics/' ~ product.pic) }}"><img
                                src="{{ asset('/uploads/pics/' ~ product.pic) | imagine_filter('thumb_square_100') }}" /></a>
                {% else %}
                    <img src="{{ asset('/uploads/pics/nopic.png') | imagine_filter('thumb_square_100') }}" />
                {% endif %}

            </td>
            <td>
                <h3><a href="{{ path('product_view', {categorySlug: product.category.slug, productSlug: product.slug }) }}">{{ product.vendor.name }} - {{ product.name }}</a></h3>
                <p>{{ product.fullName }}</p>
            </td>
            <td>
                <h3>{{ product.price }} руб.</h3>
                {% if product.isAvailableToOrder %}
                    <a href="{{ path('add_to_cart', {'id': product.id}) }}"
                       class="btn btn-success"><i
                                class="fa fa-shopping-basket"></i> в корзину</a>
                    <a href="{{ path('buy_in_one_click', {'id': product.id}) }}"
                       class="btn btn-primary"><i
                                class="fa fa-cart-plus"></i> купить в 1 клик</a>
                {% else %}
                    <span class="btn btn-secondary"><i
                                class="fa fa-cart-plus"></i> купить</span>
                {% endif %}

            </td>
        </tr>
    {% endfor %}

</table>
{% endblock %}
