<a class="navbar-brand d-flex d-lg-none" href="/">Na-Forel.Ru</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('homepage') }}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('page_view_payment') }}">Оплата</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('page_view_delivery') }}">Доставка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('page_view_contacts') }}">Контакты</a>
        </li>
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{{ path('pricelist') }}">Прайслист</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="javascript:;">Новости</a>#}
{#        </li>#}

        {#<li class="nav-item">#}
            {#<a class="nav-link" href="{{ path('page_view', {'slug': 'about-us'}) }}">Прайслист</a>#}
        {#</li>#}

        {#<li class="nav-item dropdown">#}
            {#<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
            {#<div class="dropdown-menu" aria-labelledby="dropdown09">#}
                {#<a class="dropdown-item" href="#">Catalog</a>#}
                {#<a class="dropdown-item" href="#">Payments</a>#}
                {#<a class="dropdown-item" href="#">Delivery</a>#}
                {#<a class="dropdown-item" href="#">Warranty</a>#}
                {#<a class="dropdown-item" href="#">Something else here</a>#}
            {#</div>#}
        {#</li>#}
    </ul>
{#    <div class="ya-site-form ya-site-form_inited_no" data-bem="{&quot;action&quot;:&quot;http://na-forel.ru/search&quot;,&quot;arrow&quot;:false,&quot;bg&quot;:&quot;transparent&quot;,&quot;fontsize&quot;:12,&quot;fg&quot;:&quot;#000000&quot;,&quot;language&quot;:&quot;ru&quot;,&quot;logo&quot;:&quot;rb&quot;,&quot;publicname&quot;:&quot;Посик по сайту na-forel.ru&quot;,&quot;suggest&quot;:true,&quot;target&quot;:&quot;_self&quot;,&quot;tld&quot;:&quot;ru&quot;,&quot;type&quot;:3,&quot;usebigdictionary&quot;:true,&quot;searchid&quot;:2379127,&quot;input_fg&quot;:&quot;#000000&quot;,&quot;input_bg&quot;:&quot;#ffffff&quot;,&quot;input_fontStyle&quot;:&quot;normal&quot;,&quot;input_fontWeight&quot;:&quot;normal&quot;,&quot;input_placeholder&quot;:null,&quot;input_placeholderColor&quot;:&quot;#000000&quot;,&quot;input_borderColor&quot;:&quot;#7f9db9&quot;}"><form action="https://yandex.ru/search/site/" method="get" target="_self" accept-charset="utf-8"><input type="hidden" name="searchid" value="2379127"/><input type="hidden" name="l10n" value="ru"/><input type="hidden" name="reqenc" value=""/><input type="search" name="text" value=""/><input type="submit" value="Найти"/></form></div><style type="text/css">.ya-page_js_yes .ya-site-form_inited_no { display: none; }</style><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>#}
    <form class="form-inline my-2 my-md-0" method="get" action="{{ path('front_search') }}">
        <input name="q" class="form-control" placeholder="Поиск" aria-label="Поиск" type="text" required />
        <button type="submit" class="btn btn-secondary"><i class="fa fa-fw fa-search"></i> </button>
    </form>
</div>