<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_order_index') }}">
            <i class="fa fa-fw fa-shopping-basket"></i>
            <span class="nav-link-text">Orders</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_product_index') }}">
            <i class="fa fa-fw fa-product-hunt"></i>
            <span class="nav-link-text">Products</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_product_group_index') }}">
            <i class="fa fa-fw fa-star"></i>
            <span class="nav-link-text">Product groups</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_vendor_index') }}">
            <i class="fa fa-fw fa-address-book-o"></i>
            <span class="nav-link-text">Vendors</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_category_index') }}">
            <i class="fa fa-fw fa-list-ul"></i>
            <span class="nav-link-text">Categories</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_category_filter_index') }}">
            <i class="fa fa-fw fa-cogs"></i>
            <span class="nav-link-text">Category filters</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_page_index') }}">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Pages</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_banner_index') }}">
            <i class="fa fa-fw fa-bandcamp"></i>
            <span class="nav-link-text">Banners</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_user_index') }}">
            <i class="fa fa-fw fa-user-plus"></i>
            <span class="nav-link-text">Users</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_faq_index') }}">
            <i class="fa fa-fw fa-comment"></i>
            <span class="nav-link-text">FAQ</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_feedback_index') }}">
            <i class="fa fa-fw fa-pencil"></i>
            <span class="nav-link-text">Feedback</span>
        </a>
    </li>

    {#<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">#}
        {#<a class="nav-link" href="{{ path('backend_data_example') }}">#}
            {#<i class="fa fa-fw fa-table"></i>#}
            {#<span class="nav-link-text">Data example</span>#}
        {#</a>#}
    {#</li>#}

    {#<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">#}
        {#<a class="nav-link" href="index.html">#}
            {#<i class="fa fa-fw fa-dashboard"></i>#}
            {#<span class="nav-link-text">Dashboard</span>#}
        {#</a>#}
    {#</li>#}
    {#<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">#}
        {#<a class="nav-link" href="charts.html">#}
            {#<i class="fa fa-fw fa-area-chart"></i>#}
            {#<span class="nav-link-text">Charts</span>#}
        {#</a>#}
    {#</li>#}
    {#<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">#}
        {#<a class="nav-link" href="tables.html">#}
            {#<i class="fa fa-fw fa-table"></i>#}
            {#<span class="nav-link-text">Tables</span>#}
        {#</a>#}
    {#</li>#}
    {#<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">#}
        {#<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">#}
            {#<i class="fa fa-fw fa-wrench"></i>#}
            {#<span class="nav-link-text">Components</span>#}
        {#</a>#}
        {#<ul class="sidenav-second-level collapse" id="collapseComponents">#}
            {#<li>#}
                {#<a href="navbar.html">Navbar</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="cards.html">Cards</a>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">#}
        {#<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">#}
            {#<i class="fa fa-fw fa-file"></i>#}
            {#<span class="nav-link-text">Example Pages</span>#}
        {#</a>#}
        {#<ul class="sidenav-second-level collapse" id="collapseExamplePages">#}
            {#<li>#}
                {#<a href="login.html">Login Page</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="register.html">Registration Page</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="forgot-password.html">Forgot Password Page</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="blank.html">Blank Page</a>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">#}
        {#<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">#}
            {#<i class="fa fa-fw fa-sitemap"></i>#}
            {#<span class="nav-link-text">Menu Levels</span>#}
        {#</a>#}
        {#<ul class="sidenav-second-level collapse" id="collapseMulti">#}
            {#<li>#}
                {#<a href="#">Second Level Item</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#">Second Level Item</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#">Second Level Item</a>#}
            {#</li>#}
            {#<li>#}
                {#<a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>#}
                {#<ul class="sidenav-third-level collapse" id="collapseMulti2">#}
                    {#<li>#}
                        {#<a href="#">Third Level Item</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#">Third Level Item</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#">Third Level Item</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">#}
        {#<a class="nav-link" href="#">#}
            {#<i class="fa fa-fw fa-link"></i>#}
            {#<span class="nav-link-text">Link</span>#}
        {#</a>#}
    {#</li>#}
</ul>
