<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="yandex" content="index, follow" />
    <title>{% block title %}Na-Forel.RU{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    {% block canonical %}{% endblock %}

    {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/forel-tuning.css') }}">
    <link rel="stylesheet" href="{{ asset('css/notify-flat.css') }}">
    {% endblock %}
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>

<div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 ">
            <a id="logo_img" href="{{ path('homepage') }}"><img src="{{ asset('img/forel-logo2.jpg') }}" /></a>
        </div>
        <div class="col-4 text-center">
        </div>
        <div class="col-4 text-right pt-2 pr-5">
            <a class="" href="tel:++79639926084"><i class="fa fa-phone"></i> +7 963 992-60-84</a>
            <pre>пн-пт: 11-20<br />сб:    12-18</pre>
            <div>
                {{ render(controller('App\\Controller\\Frontend\\CartController::showCartDropDown')) }}
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">
        {% include('themes/forel/common/top_menu.html.twig') %}
    </nav>

    <div class="row">
        <aside class="col-md-3">
            {{ render(controller('App\\Controller\\Frontend\\CategoryController::categoriesTreeMenu')) }}
        </aside>

        <main class="col-md-9">
            {% block promo %}
            {% endblock %}

            {% block breadcrumbs %}
            {% endblock %}

            {% block body %}
            {% endblock %}
        </main>
    </div>

</div>

<div class="col-md-12 footer-box" style="margin-top: 20px">
    {% include('themes/forel/common/footer.html.twig') %}
</div>


{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block map %}
{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block filter_scripts %}
{% endblock %}

{% include('themes/forel/counters.html.twig') %}

</body>
</html>

