
    <h1>Попытка оформления нового заказа</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr id="cart_row_{{ item.product.id }}">
                    <td>{{ item.product.id }}</td>
                    <td>{{ item.product.vendor.name }} - {{ item.product.name }}</td>
                    <td>{{ item.product.price }}₽</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.amount }}₽</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="4"><b>Итого:</b></th>
                <th>{{ total }}₽</th>
            </tr>
        </tbody>
    </table>

    <h4>IP: {{ ip }}</h4>
    <h4>Browser: {{ browser }}</h4>
