
    <h1>Новый заказ №{{ order.id }}</h1>

    <table cellpadding="4" cellspacing="0" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr id="cart_row_{{ item.product.id }}">
                    <td>{{ item.product.id }}</td>
                    <td>{{ item.product.vendor.name }} - {{ item.product.name }}</td>
                    <td>{{ item.product.price }}₽</td>
                    <td align="center">{{ item.qty }}</td>
                    <td>{{ item.amount }}₽</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2">Итого:</th>
                <th align="right">наим: {{ cart|length }}шт</th>
                <th>{{ totalQty }}шт</th>
                <th>{{ total }}₽</th>
            </tr>
            {% if (discountAmount) > 0 %}
                <tr bgcolor="#ffc">
                    <th colspan="4"><b>Скидка {{ discountPercent }}%:</b></th>
                    <th><span id="order_total" data-content="{{ discountAmount }}">{{ discountAmount }}</span>₽</th>
                </tr>
                <tr bgcolor="#ffc">
                    <th colspan="4"><b>Итого со скидкой:</b></th>
                    <th><span id="order_total" data-content="{{ total - discountAmount }}">{{ total - discountAmount }}</span>₽</th>
                </tr>
            {% endif %}
            {% if (order.getDeliveryType == 'courier') %}
                <tr bgcolor="#ffc">
                    <th colspan="4"><b>Доставка:</b></th>
                    <th><span id="order_total">300</span>₽</th>
                </tr>
                <tr bgcolor="#ffc">
                    <th colspan="4"><b>Итого с доставкой:</b></th>
                    <th><span id="order_total">{{ total - discountAmount + 300 }}</span>₽</th>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h4>Контактная информация</h4>
    <div>ФИО: {{ order.name }}</div>
    <div>Email: {{ order.email }}</div>
    <div>Phone: {{ order.phone }}</div>
    <div>Address: {{ order.address }}</div>
    <div>Note: {{ order.note }}</div>
    <div>Delivery: {{ order.getDeliveryTypeRus }}</div>
